@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Office&display=swap");

body {
  font-family: 'Ysabeau Office', sans-serif;
}

.slider-container {
  width: 100vw;
  overflow: hidden;
 padding-bottom: 10px;  

}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  flex: 0 0 50vw;
  height: 60vh;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-img {
  max-height: 100%;
  max-width: 80%;
  object-fit: cover;  
}

canvas {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

.slider-title{
  text-align: center;
  padding-top: 50px;
  font-size: 40px;
  padding-bottom: 15px;
}

.slider-title span {
  color: #29a396;
}

