@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;700&display=swap");

body {
  font-family: "Nunito", sans-serif;
}

.slider-container {
  width: 100vw;
  overflow: hidden;
  margin-bottom: 50px;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  flex: 0 0 50vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

canvas {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

