@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Office&display=swap");

body {
  font-family: 'Ysabeau Office', sans-serif;
}

.slider-container {
  width: 100vw;
  overflow: hidden;
  margin-bottom: 50px;  
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  flex: 0 0 50vw;
  height: 60vh;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;  
}

canvas {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

.product-title {
  text-align: center;
  padding: 10px;
}

.product-title span {
  color: #29a396;
}

/* Container for the video */
#video-container {
  position: relative;
  width: 100%;
  max-width: 800px; /* Set max width for the video */
  margin: auto; /* Center the video container */
  margin-bottom: 40px;

}

/* Video element */
#my-video {
  width: 100%;
  height: auto;
  display: block; /* Removes any extra space below the video */
}

/* Video controls */
#my-video::-webkit-media-controls {
  color: #fff; /* Change the color of the controls */
 
}

/* Subtitles */
video::cue {
  background: rgba(0, 0, 0, 0.8); /* Background color for subtitles */
  color: #fff; /* Text color for subtitles */
  font-size: 16px; /* Font size for subtitles */
  text-shadow: 1px 1px 2px #000; /* Text shadow for better readability */
}
