* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Verdana', sans-serif;
    background: radial-gradient(#111, #071a1a);
    color: #fff;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    height: 80px;
    
    padding: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-heading {
    background-color: #444;
    color: #fff;
}

.table-heading th {
    padding: 15px;
}

.table-data {
    text-align: center;
}

.table-data td {
    padding: 10px;
}

.btn-logout {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn-logout:hover {
    background-color: #2980b9;
}

.btn-delete,
.btn-edit,
.btn-create {
    display: inline-block;
    padding: 8px 15px;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn-delete {
    background-color: #e74c3c;
}

.btn-delete:hover {
    background-color: #c0392b;
}

.btn-edit {
    background-color: #3498db;
}

.btn-edit:hover {
    background-color: #2980b9;
}

.btn-create {
    background-color: #27ae60;
}

.btn-create:hover {
    background-color: #219d4e;
}
