@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

body {
  width: 80%;
  margin-left: 10%;
  min-height: 100vh;
  background: radial-gradient(#111, #071a1a);
  color: #fff;
  overflow-x: hidden;
  /* background: url(https://raw.githubusercontent.com/programmercloud/pgc-gym/main/img/blur-1.png); */
}

/* HEADER */
.btn-h {
  padding: 10px;
  margin-top: 30px;
  font-size: 12px;
}
/*END HEADER */

h2 span {
  color: #29a396;
}

h2 {
  margin-top: 16px;
  margin-bottom: 64px;
  font-size: 36px;
  /* 24 / 30 / 36 */
  letter-spacing: -0.5px;
  text-align: center;
}

.grid-3-cols {
  background: url(https://raw.githubusercontent.com/programmercloud/pgc-gym/main/img/blur-1.png);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  margin-bottom: 50px;
}

.btn:link,
.btn:visited {
  background-color: #29a396;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 500;
  border-radius: 100px;
}
.btn:active,
.btn:hover {
  background-color: #165f56;
}
.btn--big {
  padding: 16px 32px;
  font-size: 18px;
}
.btn--small {
  font-size: 14px;
  padding: 8px 12px;
}

img {
  border-radius: 12px;
}

img {
  width: 100%;
}

.chair img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.chair {
  box-shadow: 0 20px 30px 0 rgba(136, 135, 135, 0.07);
  border-radius: 12px;
}
.chair-box {
  padding: 32px;
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 24px;
  font-size: 20px;
}
.chair-details {
  list-style: none;
  margin-bottom: 42px;
}

.chair-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.chair-details li:last-child {
  margin-bottom: 0;
}

.chair-icon {
  stroke: #29a396;
  height: 24px;
  height: 24px;
}

.chair-price {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
}
